@media (max-width: 509px) {
  img {
    width: 100%;
    height: 20vh;
  }
  h1 {
    max-width: 20em;
  }

  .counter-cont.flex {
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    .time-cont {
      width: 4.25em;
      height: 4.3em;
      position: relative;
      overflow: hidden;

      &::before,
      &::after {
        content: "";
        bottom: 42%;
      }
      &::after {
        left: -7px;
      }
      &::before {
        right: -7px;
      }
    }
  }
}

span {
  font-size: 2em;
}
